.title {
  color: green;
  margin-bottom: 1rem;
}

.list {
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 1rem;
}

.list h2 {
  margin-bottom: .5rem;
}

.list ul {
  list-style-type: square;
  padding-inline-start: 2rem;
}