.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #eee;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.header :global(.active), /* global é necessário para funcionar a classe attive no item ativo */
.link:hover {
  background-color: #ddd;
}